.root{
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 10px;
    width: 450px;
    height: 520px;
    background-color: white;
}

.buttonSubmit{
    background-color: #ffdd00;
    font-weight:700;
}

.buttonSubmit:hover{
    background-color: #ffd100;
}

.imgLogo{
    width: 100%;
    margin-bottom: 20px;
}